*{
    margin:0px;
    padding: 0px;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/* inex-home page Css */
html,
body.index{
    height:100%;
}

#maincontainer{
    width: 100%;
    height: 100%;
    min-height: 100%;
    
}
#header{
    
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px 10%;
    background-color: brown;  
    color:white;    
}
li, a, h2{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color:#ecf0f1;
    text-decoration:none;
}

.nav_links{
    list-style: none;   
}

.nav_links li{
    display:inline-block;
    padding: 0px 20px;
}
.nav_links li a{

    transition: all 0.3s ease 0s;

}
.nav_links li a:hover{

    color: aqua;
    border:solid 2px white;
    border-radius: 50px;
    padding: 5px 10px;
    
}
#bannerimage{
    width:100%;

}
#servicestitle{
    width:100%;
    background-color: brown;
    color:white;
    text-align:center;
    padding:10px;
    margin-top:0px;

}
#services-gangan{
    display:flex;
    text-align:center;

}
.services{
    width:30%;
    color: brown;
    text-align:center;
    padding:20px;
    margin-top:20px;
}
#section4{
    text-align:center;
    margin-top:20px;
    background-color: brown;
    color:white;
    line-height: 20px;
    padding:20px

}
#whychoose{
    margin-bottom:20px;
}
#section5{
    margin-top: 20px;
    color:brown;
    text-align: center;
    margin-bottom:20px;
}
#team{
    text-align: center;
    background-color: brown;
    padding: 50px;

    
}
#teampictures{
   
    margin-bottom:10px;
}
.index #footer-bottom{
    background: brown;
    color:white;
    width: 100%;
    text-align: center;
    margin-top:20px;
    padding: 20px;
}
/* About page Css */
.about{
    height: 100%;
}

#headerlink2{
        width: 100%;
        height: 100%;
        min-height: 100%;
}

#headerlink2{ 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px 10%;
    background-color: brown;  
    color:white;    
}

li, a, h2{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color:#ecf0f1;
    text-decoration:none;
}

.nav_links{
    list-style: none;   
}

.nav_links li{
    display:inline-block;
    padding: 0px 20px;
}
.nav_links li a{

    transition: all 0.3s ease 0s;

}
.nav_links li a:hover{

    color: aqua;
    border:solid 2px white;
    border-radius: 50px;
    padding: 5px 10px;
    
}
#bannerimageabout{
    width:100%;

}
.about #pi{
    width:100%;
    background-color: brown;
    color:white;
    text-align:center;
    padding:10px;
    margin-top:0px;
}
.about h1{
      text-align: center;
      color: black
}

.about #p1{
    background-color: brown;
}


.about #footer-bottom2{
    background-color: brown;
    color:white;
    width: 100%;
    text-align: center;
    margin-top:100px;
    padding: 2px;
}



/* contact us page Css */
body.home{
    height:100%;
}
#headertop{
    width: 100%;
    height: 100%;
    min-height: 100%;
    
}
#headertop{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px 10%;
    background-color: brown;  
    color:white;    
}

li, a, h2{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color:#ecf0f1;
    text-decoration:none;
}

.nav_links{
    list-style: none;   
}

.nav_links li{
    display:inline-block;
    padding: 0px 20px;
}
.nav_links li a{

    transition: all 0.3s ease 0s;

}
.nav_links li a:hover{

    color: aqua;
    border:solid 2px white;
    border-radius: 50px;
    padding: 5px 10px;
    
}
#logo{
    width:100%;

}
#header2{
    width:100%;
    background-color: brown;
    color:white;
    padding:10px;
    margin-top:-20px;
}

#contact p{
    text-align:center;
    margin-top:20px;
    background-color: brown;
    color:white;
    line-height: 20px;
    padding:20px
}


#footer-bottom{
    background: brown;
    color:white;
    width: 100%;
    text-align: center;
    margin-top:20px;
    padding: 20px;
}

input[type=text] {
background-color: rgb(100, 175, 237);
color:black;
}

button{
    color: black;
    font-size: 16px;
    background-color: red;
}

textarea{
    background-color: rgb(100, 175, 237);
}


/* gallery page Css */
.gallery{
    height: 100%;
}

#headerlink{
        width: 100%;
        height: 100%;
        min-height: 100%;
}

#headerlink{ 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px 10%;
    background-color: brown;  
    color:white;    
}

li, a,{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color:#ecf0f1;
    text-decoration:none;
}

.nav_links{
    list-style: none;   
}

.nav_links li{
    display:inline-block;
    padding: 0px 20px;
}
.nav_links li a{

    transition: all 0.3s ease 0s;

}
.nav_links li a:hover{

    color: aqua;
    border:solid 2px white;
    border-radius: 50px;
    padding: 5px 10px;
    
}
#imagewithtext{
    width: 100%;  
}


#column1{
    width: 70%;
    padding: 20px;
   
}
    
#row1{
    content: "";
    clear: both;
    display: table;
    
}

.about p{
    width:100%;
    background-color: brown;
    color:white;
    text-align:center;
    padding:10px;
    margin-top:0px;

}
.gallery h1{
      text-align: center;
      color: brown;
}

.gallery h2{
    color: black;
}

.gallery #footer-bottom{
    background: brown;
    color:white;
    width: 100%;
    text-align: center;
    margin-top:100px;
    padding: 2px;
}

#column1 h2{
    color: brown;
}